<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-5">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><p class="user-name">{{user}}'s notes</p></li>

      </ul>
      {% if request.user.is_authenticated %}
      <div class="col-md-3 text-end" style="position: relative; left: -10px;">
        <a href="{% url 'logout' %}" class="btn btn-outline-dark m-1 btn-block btn-lg" style="color: #92d1a3">Logout</a>
        <a href="{% url 'add_note' %}" class="btn btn-outline-dark m-1 btn-block btn-lg" style="color: #92d1a3">Add note</a>
      </div>
      {% else %}
      <div class="col-md-3 text-end">
        <a href="{% url 'login' %}" class="btn btn-outline-dark m-1 btn-block btn-lg">Login</a>
      </div>
      {% endif %}
</header>

{% block content %}

{% endblock %}

</body>
</html>